<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/logo.ico">
    <title>Tickremento | Acerca</title>
    <link rel="stylesheet" href="../css/styles.css">
 </head>
<body>
    <header class="header">
        <div id="logo">
            <img src="../img/logo.webp" alt="Web logo">
            <h1 id="title">Tickremento</h1>
        </div>
    </header>
    <nav>
        <div class="navbar">
            <a href="../index.html" id="home">Inicio</a>
            <span class="dot">•</span>
            <a href="./about.html" id="about">Acerca</a>
            <span class="dot">•</span>
            <a href="./faq.html" id="faq">FAQ</a>
            <span class="dot">•</span>
            <a href="mailto:tickremento@proton.me" id="contact">Contacto</a>
        </div>
    </nav>
    <main>
        <section id="about-container">
            <h2 class="headers">Contexto</h2>
            <p class="text">Tenía que realizar un proyecto final para finalizar mis estudios.</p>
            <p class="text"> La situación actual (realmente llevamos años así) del feroz incremento en los precios me inspiró para realizar esta web.</p>
            <h2 class="headers">Motivación</h2>
            <p class="text">Aportar transparencia al incremento de precios.</p>
            <p class="text">Desde los medios siempre se sueltan números, cifras, la mayoría de las veces respaldadas por nada.</p>
            <h2 class="headers">Objetivo</h2>
            <p class="text">Que cualquiera pueda ver con claridad como se ha ido produciendo esa subida.</p>
            <p class="text">Invitar a reflexionar si estas subidas son razonables.</p>
            <p class="text">¿Quién está ganando con esta situación?</p>
        </section>
    </main>
    <footer>
        <section id="footer-content">
            <div id="terms">
                <p>El contenido mostrado en esta página es acrítico, no se pretende señalar a niguna entidad, solo mostrar de manera transparente la situación actual.</p>
                <p>Los derechos de autor de las imágenes pertenecen a sus legítimos dueños, se indexan en la web desde su origen, en ningún momento se intenta apropiar de las mismas.</p>
            </div>
            <div id="privacy">
                <p>Esta página no contiene cookies ni registra ningún tipo de información sobre el usuario.</p>
                <p>Página diseñada a modo de muestra sobre el crecimiento de los precios. Todos los derechos reservados. 2022 &copy;.</p>
            </div>
        </section>
    </footer>
</body>
</html>