main {
  padding: 1.5rem;
}

#about-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
}

#about-container h1 {
  font-size: 2.5rem;
  padding: 0.5rem;
}

h1 {
  font-size: 2.5rem;
  padding: 0.5rem;
}

.about-title {
  display: flex;
  align-items: center;
}

.about-title img {
  width: 75px;
  height: 75px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

article p {
  max-width: 60ch;
  text-align: start;
  padding: 1rem;
  line-height: 1.75rem;
}

.headers {
  font-weight: bold;
  overflow: hidden;
  margin: 1rem;
  white-space: nowrap;
  color: #000;
  width: 10ch;
  animation: typing 1.5s steps(10), blink 0.5s step-end alternate;
}

@keyframes typing {
  from {
    width: 0;
    border-right: 0.15em solid;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
