h1 {
  font-size: 2.5rem;
  padding: 0.5rem;
}

.faq-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.faq-title img {
  width: 75px;
  height: 75px;
}

.accordion-container {
  padding: 1.5rem;
  display: grid;
  place-items: center;
}

.accordion {
  width: 65ch;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  overflow: hidden;
  background: linear-gradient(
    rgb(44, 41, 41),
    rgb(51, 46, 42),
    rgb(75, 65, 59)
  );
  position: relative;
}

.accordion-item {
  padding: 0.15rem 1rem;
  border-bottom: 1px solid #e5e5e5;
}

.accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid #03b5d2;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded="true"] {
  color: #03b5d2;
}

.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}

.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: fit-content;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion-title {
  font-weight: bold;
}

.accordion-content {
  opacity: 0;
  max-height: 0;
  color: #03b5d2;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion-content p {
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1.6;
  margin: 1em 0;
}
