.products-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  z-index: -1;
}

.mercadona-card:hover,
.gadis-card:hover,
.familia-card:hover,
.froiz-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.mercadona-card,
.gadis-card,
.familia-card,
.froiz-card {
  width: 420px;
  text-align: center;
  margin: 15px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.mercadona-product-info,
.gadis-product-info,
.familia-product-info,
.froiz-product-info,
.filters,
.checkboxes-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mercadona-card {
  background-color: rgba(34, 158, 107, 0.15);
}

.gadis-card {
  background-color: rgba(243, 202, 39, 0.15);
}

.familia-card {
  background-color: rgba(185, 44, 50, 0.15);
}

.froiz-card {
  background-color: rgba(181, 47, 26, 0.15);
}

.filters {
  background-color: #f0dddd;
  padding: 1rem 0 0.5rem 0;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.clean-search {
  display: flex;
  align-items: center;
  width: 5.5rem;
  height: 35px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.clean-search:disabled {
  cursor: not-allowed;
}

#clean-button {
  margin-left: 0.15rem;
}

.search-window {
  margin: 1rem auto 0 auto;
  text-align: center;
  border-radius: 0.5em;
  width: fit-content;
  background-color: #f2d4d4;
}

#search-output {
  padding: 1rem;
}

.price-info {
  padding: 0.5rem;
}

.inner-info {
  display: flex;
  flex-direction: column;
  width: 70%;
  text-align: initial;
}

a {
  font-weight: bold;
}

.mercadona-product-info a,
.gadis-product-info a,
.familia-product-info a,
.froiz-product-info a {
  width: 30%;
}

.mercadona-product-info img,
.gadis-product-info img,
.familia-product-info img,
.froiz-product-info img {
  object-fit: contain;
  max-width: 95px;
  max-height: 95px;
  width: auto;
  height: auto;
  border-radius: 0.5rem;
  margin-right: 0.75rem;
}

span#product-name {
  font-size: 0.9rem;
  margin: 0.2rem 0;
}

span#supermarket-name,
span#current-price {
  font-size: 1rem;
  font-weight: bold;
}

span#increase {
  padding-left: 15px;
  font-size: 0.85rem;
  font-weight: bold;
}

.product-filter {
  margin: 0 1rem;
  width: 250px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.supermarket {
  padding: 1rem 0.5rem 1rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.modal-window {
  padding: 2em 3em;
  text-align: center;
  border-radius: 0.5em;
  width: 40vw;
  margin: 2.5rem auto;
  z-index: -1;
  background-color: #f2d4d4;
}

.modal-header {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.modal-content {
  color: #0f0f0f;
  text-align: justify;
  line-height: 1.5em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.spinner {
  margin: 30px auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgb(255, 235, 235);
  animation: spin 1s linear infinite;
  border-bottom-color: #3e1ddf;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
