@media (min-width: 320px) and (max-width: 810px) {
    .navbar {
        font-size: 1rem;
    }
    
    .route {
        padding: 0.3rem;
    }
    
    .dot {
        display: none;
    }

    #footer-content {
        font-size: 0.9rem;
        width: 100%;
    }

    #footer-content p {
        font-size: 0.85rem;
    }

    .filters {
        flex-direction: column;
    }

    .checkboxes {
        display: block;
    }

    .search {
        margin-top: 1rem;
    }
    
    .modal-window {
        width: 85vw;
        padding: 0.5rem;
    }

    .accordion {
        max-width: 85vw;
    }

    #about-container {
        width: 85%;
    }
}

@media (min-width: 810px) and (max-width: 878px) {
    .modal-window {
        width: 60vw;
    }

    .gadis-card, .mercadona-card, .familia-card {
        width: 360px;
    } 

    #footer-content p {
        font-size: 0.95rem;
    }

    .accordion {
        max-width: 80vw;
    }

    #about-container {
        width: 70%;
    }
}
