@media (min-width: 320px) and (max-width: 500px) {
  .checkboxes-wrapper {
    display: block;
  }

  .headers {
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    font-size: 1.7rem;
  }

  #about-container article {
    padding: 1rem 0;
  }

  #about-container article p {
    line-height: 1.5rem;
    padding: 0.35rem;
  }

  .search-window {
    width: 85vw;
  }
}

@media (min-width: 320px) and (max-width: 950px) {
  .filters {
    flex-direction: column;
  }

  .checkboxes-wrapper {
    padding: 1rem;
  }

  .gadis-card,
  .mercadona-card,
  .familia-card,
  .froiz-card {
    width: 360px;
  }

  .inner-info {
    padding: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 810px) {
  main {
    padding: 0;
  }

  nav a {
    margin: 0;
    padding: 0.4rem;
    font-size: 1rem;
    gap: 0.1rem;
  }

  .related-data {
    display: none; 
  }

  #footer-content {
    font-size: 0.9rem;
    width: 100%;
  }

  #footer-content p, #search-output {
    font-size: 0.9rem;
  }

  .search {
    margin-top: 1rem;
  }

  .modal-window {
    width: 85vw;
    padding: 0.5rem;
  }

  .accordion {
    width: 85vw;
  }

  .accordion-content {
    font-size: 1rem;
  }

  #about-container {
    width: 100%;
  }

  .product-filter {
    width: 230px;
  }
}

@media (min-width: 810px) and (max-width: 878px) {
  .modal-window {
    width: 60vw;
  }

  nav a {
    padding: 0 1.5rem;
  }

  #footer-content p, #search-output {
    font-size: 0.95rem;
  }

  .accordion {
    width: 85vw;
  }

  #about-container {
    width: 70%;
  }
}

@media (min-width: 810px) and (max-width: 1050px) {
  .related-data {
    font-size: 0.8rem;
  }
}