@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'DM Mono', monospace;
    box-sizing: border-box;
}

header, main, footer {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
    width: 100%;
    background-color: whitesmoke;
}

main#home-content {
    min-height: 500px;
    background-color: #fff;
}

a {
    font-weight: bold;
}

img {
    width: 85px;
    height: 85px;
    border-radius: 0.25rem;
}

footer {
    width: 100%;
    background: #102b6e;
    color: #fff;
    display: flex;
    justify-content: center;
}

#footer-content {
    padding: 1.5rem;
    width: 50%;
}

#footer-content p {
    padding: 1rem;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
}

#title {
    font-weight: bold;
    text-decoration: underline;
    color: #000;
    margin: 1rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-decoration: underline;
    background-color: #102b6e;
    color: #fff;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #102b6e;
    color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.dot {
    padding: 0 1.5rem;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    margin: 1rem;
}

.navbar a {
    text-decoration: none;
    margin-left: 0.35rem;
}

.navbar a:hover {
    cursor: pointer;
    opacity: 0.7;
}

.navbar a:visited, .navbar a:link, #contact, a#home:visited {
    color: inherit;
}

.navbar a:active {
    color: gray;
    font-weight: bold;
}

.route {
    display: flex;
    align-items: center;
}

#copyright {
    text-align: center;
    display: block;
}
